@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.fonte_imagem {
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 12px;
}

header {
    display: flex;
    background-color: white;
}

#logo {
    width: 175px;
}

header nav {
    display: flex;
}

#menu {
    list-style: none;
    margin: 0;
}

#menu li {
    float: left;
    margin-top: 40px;
    border-left: 2px solid gray;
}

#menu li a {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    text-decoration: none;
    padding: 24px 80px;
    color: black;
}

#menu li a:hover {
    background-color: bisque;
}

#div_banner {
    padding: 60px;
}

#banner {
    width: 100%;
}

footer {
    display: flex;
    background-color: black;
}

footer section {
    display: grid;
    padding-left: 90px;
}

footer p {
    color: white;
    font-size: 20px;
}

footer li {
    list-style: none;
}

footer a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: blanchedalmond;
}

.logo_rede {
    width: 35px;
}

#Produtos {
    display: flex;
    background-color: blanchedalmond;
}

.img_produtos {
    margin: 5px;
    width: 275px;
    height: 200px;

}

article {
    display: flex;
    padding: 0px 60px;
    background-color: blanchedalmond;
}

article hr {
    margin: 0px 100px;
}

article p {
    font-family: "Abel", sans-serif;
    height: 300px;
    width: 600px;
    font-size: 15px;
}

#postagens {
    padding-left: 30px;
}

#postagens p {
    font-family: "Slabo 27px", serif;
    font-size: 15px;
}

#feedback {
    font-family: "IBM Plex Mono", monospace;
    background-color: antiquewhite;
    text-align: center;
    color: black;
    font-size: 16px;

}

.btn_form {
    background-color: orange;
    color: black;
}

table {
    width: 100%;
    background-color: burlywood;
}

table td,
th {
    font-family: "Slabo 27px", serif;
    font-size: 16px;
}

video {
    width: 500px;
}

#creditos {
    padding: 0;
    margin: 0;
    align-content: center;
    margin-left: 350px;
    padding-right: 80px;
}

#p_credito {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "IBM Plex Mono", monospace;
}

#Duvidas {
    background-color: antiquewhite;
    height: 300px;
}

#Duvidas p {
    padding-left: 20px;
}

#Entregas {
    background-color: bisque;
    height: 300px;
}

#Entregas p {
    padding-left: 20px;

}

#Pagamentos {
    background-color: antiquewhite;
    height: 300px;
}

#Pagamentos p {
    padding-left: 20px;

}

#Devolucoes {
    background-color: bisque;
    height: 300px;
}

#Devolucoes p {
    padding-left: 20px;

}

#vagas {
    padding-left: 20px;
}

#vagas h1 {
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 32px;
}

#vagas .title_p {
    font-family: "Crimson Text", serif;
    font-size: 16px;
}

#vagas p {
    font-family: "Abel", sans-serif;
    font-size: 12px;
}